<div>
    <h1>Dashboard</h1>
</div>
<div class="row">
    <div class="col-lg-8 col-sm-12">
        <h2>Map</h2>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="userList pre-scrollable">
            <ul>
                <li>naam 1</li>
                <li>naam 2</li>
                <li>naam 3</li>
                <li>naam 4</li>
                <li>naam 5</li>
                <li>naam 6</li>
                <li>naam 7</li>
                <li>naam 8</li>
                <li>naam 9</li>
                <li>naam 10</li>
                <li>naam 11</li>
                <li>naam 12</li>
                <li>naam 13</li>
                <li>naam 14</li>
                <li>naam 15</li>
                <li>naam 16</li>
                <li>naam 17</li>
                <li>naam 18</li>
                <li>naam 19</li>
                <li>naam 20</li>
                <li>naam 21</li>
                <li>naam 22</li>
                <li>naam 23</li>
                <li>naam 24</li>
                <li>naam 25</li>
                <li>naam 26</li>
                <li>naam 27</li>
                <li>naam 28</li>
            </ul>
        </div>
    </div>
</div>